body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #dddddd;
    font-family: Arial, sans-serif;
}

.calculator {
    border: 1px solid #333;
    border-radius: 10px;
    padding: 10px;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);
    background: #130c0c;
}

.display {
    height: 80px;
    background: #c5b9b9;
    color: #080c0e;
    font-size: 2rem;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 0 10px;
    border-radius: 5px;
    margin-bottom: 15px;
}

.buttons {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
}

.btn {
    padding: 20px;
    font-size: 1.5rem;
    background: #2e832e;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background 0.3s;
}

.btn:hover {
    background: #bb8f0a;
}

.equals {
    grid-column: span 2;
}

.zero {
    grid-column: span 2;
}
